@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@font-face {
    font-family: 'Khalid';
    src: url('./assets/fonts/Khalid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}